/* Estilos para o container principal */
/* src/components/css/blogpost.css */

.container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Definir 4 colunas com largura igual */
  gap: 20px; /* Espaçamento entre os itens */
}

  
  /* Estilos para o título */
  .container-card h1 {
    font-size: 32px; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: center; /* Alinhamento central */
  }
  
  /* Estilos para o container da lista de personagens */
  .container {
    list-style: none; /* Remover marcadores de lista */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover preenchimento padrão */
    display: grid; /* Exibir em grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Criar colunas responsivas */
    gap: 20px; /* Espaçamento entre os elementos */
  }
  
  /* Estilos para cada card de personagem */
  .caracterCard {
    background-color: #1d1d1d; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border-radius: 8px; /* Borda arredondada */
    overflow: hidden; /* Ocultar conteúdo que ultrapassa */
  }
  
  /* Estilos para a imagem do card */
  .caracterCard-img {
    margin: 0;
    overflow: hidden;
  }
  
  .caracterCard-img img {
    width: 100%; /* Largura total */
    height: auto; /* Altura ajustável */
    display: block; /* Exibir como bloco */
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
  }
  
  .caracterCard-img img:hover {
    transform: scale(1.1); /* Ampliar ao passar o mouse */
  }
  
  /* Estilos para o conteúdo do card */
  .caracterCard-content {
    padding: 20px; /* Espaçamento interno */
  }
  
  .caracterCard-content h3 {
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
  }
  
  .caracterCard-content p {
    margin: 5px 0; /* Espaçamento entre os parágrafos */
  }
  