/* src/pages/css/post.css */

.header-main {
    display: flex;
  }
  
  .card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .post-img {
    width: 200px;
    height: 200px; /* Ajuste a altura conforme necessário */
  }
  
  .post-details {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .post-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .status {
    display: flex;
    align-items: center;
  }
  
  .circulo-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .circulo-status.dead {
    background-color: red;
  }
  
  .circulo-status.alive {
    background-color: green;
  }
  
  .post-details p {
    color: #555;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .post-details img {
    border-radius: 5px;
  }
  
  .side-container {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .comment-container {
    margin-top: 20px;
  }
  