/* src/pages/css/post.css */

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: stretch; /* Faz com que os itens se estiquem verticalmente */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Altura igual a 100% do contêiner pai (.card) */
}

.post-img img {
  max-width: 100%;
  max-height: 100%; /* A imagem vai preencher todo o espaço disponível na altura */
  border-radius: 5px;
}

.post-details {
  width: 50%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


  
  .post-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .status {
    display: flex;
    align-items: center;
  }
  
  .circulo-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .circulo-status.dead {
    background-color: red;
  }
  
  .circulo-status.alive {
    background-color: green;
  }
  
  .post-details p {
    color: #555;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .post-details img {
    border-radius: 5px;
  }
  
  .side-container {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .comment-container {
    margin-top: 20px;
  }
  